<div class="contact-box center-version">

  <a href="profile.html">
    <img alt="image" class="img-circle" src="/resources/images/heads/{{userInfo.head}}.jpg" />
    <h3 class="user-name">{{userInfo.name}}</h3>
    <p class="position">{{userInfo.position}}</p>
    <p class="description">
      {{userInfo.description}}
    </p>
  </a>
  <div class="contact-box-footer">
    <div class="m-t-xs btn-group">
      <a class="btn btn-xs btn-default"><i class="glyphicon glyphicon-pencil"></i> edit </a>
      <a class="btn btn-xs btn-default"><i class="glyphicon glyphicon-remove"></i> delete</a>
    </div>
  </div>

</div>
