<div class="menu">
  <div class="head">
    <span class="icon"><i class="glyphicon glyphicon-qrcode"></i></span>
    <span class="logo">Cloud UNet</span>
  </div>
  <div class="menu-list">
    <p (click)="gotoModule('')" class="menu-item menu-item-active"><span><i class="glyphicon glyphicon-home"></i> 主页 </span></p>
    <p class="menu-item"><span><i class="glyphicon glyphicon-share"></i> 分享中心 </span></p>
    <ul class="menu-item-list">
      <li class="menu-item-li"><span><i class="glyphicon glyphicon-education"></i> 每日一课 </span></li>
      <li class="menu-item-li"><span><i class="glyphicon glyphicon-cloud"></i> 博客园 </span></li>
      <li class="menu-item-li"><span><i class="glyphicon glyphicon-folder-open"></i> 文件云 </span></li>
    </ul>
    <p (click)="gotoModule('/mood')" class="menu-item"><span><i class="glyphicon glyphicon-leaf"></i> 心情墙 </span></p>
    <p (click)="gotoModule('/team')" class="menu-item"><span><i class="glyphicon glyphicon-th"></i> 团队 </span></p>
  </div>
</div>

